*{
	box-sizing: border-box;
}


body {
	font-family: 'Gilroy';
	margin: 0;
	background-color: #0b1d26;
	background-image: url("./../img/BG.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	color: #fff;


}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.header{
	padding-top: 65px;
	padding-bottom: 500px;
}
.nav__wrapper	{
	margin-bottom: 200px;
		
}
.container-wide{
	max-width : 1790px;
	margin: 0 auto;
	padding: 0 25px;

}
.row{
	display: flex;
	
	
}
.space-beetwen{
	justify-content: space-between;

}
.aligh-center{
	align-items: center;
}
.nav ul{
	display: flex;
	margin: 0;
	list-style-type: none;
	padding: 0;
	font-weight: 700;
	
}
.nav li+li{
margin: 0px 0px 0px 40px;

}
.nav a{
	color: #fff;
	text-decoration: none;

}
.nav a{
	color: #fff;
	text-decoration: none;
	transition: 0.3s ease;
}
.nav a:hover {
	color: #FBD784;
}
.login a {
	font-weight: 700;
	font-size: 17px;
	text-decoration: none;
	color: #fff;
	transition: color 0.3s ease;
}
.login a:hover {
	color: #FBD784;
}
.login{
	position: relative;
}
.login::before{
	display: block;
	content: '';
	position: absolute;
	left: -30px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-image: url('./../img/Icons/account.svg');
	background-size: contain;
}
.nav__button{
	display: none;
	height: 25px;
	border: none;
	padding: 0;
	background: none;
	position: relative;
	z-index: 5;
}

.nav__button__icon{
	position: relative;
	display: block;
	border: none;
	background-color: #FFFFFF;
	width: 42px;
	height: 5px;
	border: none;
	cursor: pointer;

}
.nav__button__icon::before{
	display: block;
	content: '';
	top: -10px;
	left: 0;
	position: absolute;
	border: none;
	background-color: #FFFFFF;
	width: 42px;
	height: 5px;
	border: none;
	cursor: pointer;
}
.nav__button__icon::after{
	display: block;
	content: '';
	top: 10px;
	left: 0px;
	position: absolute;
	border: none;
	background-color: #FFFFFF;
	width: 42px;
	height: 5px;
	border: none;
	cursor: pointer;
}
.mobile__nav{
	display: none;
	padding: 70px 70px 50px 30px;
	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	background-color: rgba(8, 28, 38, 0.911);
}
.mobile__nav .nav,
.mobile__nav .login{
	display: block;
}
.mobile__nav .nav ul{
	flex-direction: column;
}
.mobile__nav .nav ul li{
	margin: 0;
	margin-bottom: 25px;
	font-size: 22px;
}

/*HERO*/
.hero {
	display: block;
	max-width: 980px;
	margin: auto;
	padding: 0 15px;
	text-decoration: none;
	transition: 0.6s ease;
}
.hero:hover {
	transform: scale(1.03);
}
.hero_category {
	position: relative;
	padding: 0px 0px 0px 104px;
	margin: 0px 0px 32px 0px;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.222;
	letter-spacing: 6px;
	color: #FBD784;
	text-transform: uppercase;

}
.hero_category::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	content: "";
	width: 72px;
	height: 2px;
	background-color: #FBD784;
	display: block;

}
.hero_title {
font-family: 'Playfair Display', serif;
font-style: normal;
font-weight: 600;
font-size: 86px;
line-height: 1.136;
text-transform: capitalize;
color: #FFFFFF;
margin: 0px 0px 32px 0px;
}
.hero_skroll {
	display: inline-block;
	position: relative;
	color: #FFFFFF;
	line-height: 1.222;
	font-size: 18px;
	font-weight: 700;
	padding-right: 32px;

}
.hero_skroll::after{
display: block;
content: "";
position: absolute;
right: 0;
top: 50%;
width: 16px;
height: 24px;
transform: translateY(-50%);
background: url('./../img/Icons/skroll__down.svg');
}

.container{
	max-width: 1490px;
	margin: 0 auto;
	padding: 0 150px;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 200px;
}
.content:nth-child(even){
	flex-direction:row-reverse;
}
.content__text {
	position: relative;
	max-width: 632px;
}
.position{
position: absolute;
top: -17%;
left: -150px;
width: 220px;
}
.content__img__reverse img {
	margin-right: 200px;

}
.row-reverse p {
	margin-right: 0;
}

.content__subtitle {
	position: relative;
	padding: 0px 0px 0px 96px;
	margin: 0px 0px 32px 0px;
	font-weight: 800;
	font-size: 16px;
	line-height: 1.222;
	letter-spacing: 6px;
	color: #FBD784;
	text-transform: uppercase;

}
.content__subtitle::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	content: "";
	width: 72px;
	height: 2px;
	background-color: #FBD784;
	display: block;

}
.content__title {
	max-width: 555px;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 55px;
	line-height: 1.222;
	color: #FFFFFF;
}
.content__text a {
	color: #FBD784;
	text-decoration: none;

}
.content__text p{
	line-height: 1.9;
	margin-right: 150px;
	/* width: 555px; */
	
}
 #paragraf__freverse {
	line-height: 1.9;
	margin-right: 0px;
	margin-top: 16px;
	margin-bottom: 16px;

}
.content__text a:hover {
	color: #f2eb6f;
	text-decoration: none;
	
}
.content__title p{
	margin-bottom: 27px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.778;
}
.content__more {
	display: inline-block;
	position: relative;
	color: #FBD784;
	line-height: 1.222;
	font-size: 18px;
	font-weight: 700;
	padding-right: 32px;

}
.content__more::after{
display: block;
content: "";
position: absolute;
right: 0;
top: 50%;
width: 25px;
height: 16px;
transform: translateY(-50%);
background: url('./../img/Icons/right.svg') no-repeat;
}
.content__img {
	display: block;
}

/*footer*/

.footer {
	padding-bottom: 120px;
}

.footer__nav__wrapper{
	display: flex;

}
.footer__data {
	display: flex;
	flex-direction: column;
}
.footer__data__logo {
	margin-bottom: 24px;
}
.logo a {
	font-family: 'Playfair Display', serif;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;

}
.footer__data__desc {
	max-width: 303px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.78;
}
.footer__data__terms {
	margin-top: auto;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.78;
	opacity: 0.5;

}
.footer__nav + .footer__nav {
	margin: 0px 0px 0px 212px;
} 
.footer__nav {
	max-width: 200px;
}

.footer__nav h4{
	margin-bottom: 24px;
	color: #FBD784;
	font-weight: 700;
	font-size: 24px;
}


.footer__nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	/* margin-top: -16px; */
}

.footer__nav li {
	margin: 0;
	padding: 0;
	margin-top: 16px;
}

.footer__nav a {
	text-decoration: none;
	color: #fff;
}
.footer__nav a:hover {
	color: #FBD784;
}

/***********MEDIA*************/

@media (max-width:1281px) {
	.header{
		margin-bottom: -200px;
	}
	.position{
		position: absolute;
		top: -20px;
		width: 100px;
		left: 0px;
	}
	.hero_title {
		font-size: 86px;

	}
	.container{
		max-width: 1200px;
		margin: 0 auto;
		padding: 0px 15px;

	
}
.content__text {
	position: relative;
	max-width: 782px;
	padding-left: 30px;
}
.footer__data__terms {
	padding-top: 50px;
}
	.content__img__reverse img {
	margin-right: 150px;

}

}
@media (max-width:1000px) {


	.header{
		margin-bottom: -650px;
	}
	.position{
		position: absolute;
		width: 100px;
		top: -10px;
		left: 0;


	}
	.hero_title {
		font-size: 83px;

	}
	.content__title {
		max-width: 555px;
		font-family: 'Playfair Display', serif;
		font-style: normal;
		font-weight: 600;
		font-size: 45px;
		line-height: 1.222;
		color: #FFFFFF;
  }
	.container{
		max-width: 1000px;
		margin: 0 auto;
		padding: 200px 25px;

	
}
.content__text {
	position: relative;
	max-width: 782px;
	padding-left: 15px;
}

}
@media (max-width: 980px) {

	
	.header{
		margin-bottom: -450px;
	}

	.hero {
		padding: 0 30px;
	
	}
	
	.container{
		max-width: 555px;
		margin: 0 auto;
		padding: 0px 20px;
	}
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 100px;
		flex-wrap: wrap;
	}
	.position {
		position: absolute;
		top: -20px;
		width: 100px;
		left: -10px;
	}
	.content__img img{
		width: 100%;
		align-items: center;
	}
	.content__img__reverse img{
		width: 100%;
		align-items: center;
	}
	.content:nth-child(even){
		flex-direction: row;
	}	
	.nav, .login {
		display: none ;
	}
		.nav__wrapper{
		margin-bottom: 90px;
	}
	.nav__button{
		display: block;
	}
	.login::before{
		display: none;
	}
	.mobile__nav__active {
		display: block;
	}
	.hero_title {
		font-size: 69px;
	}
	.hero_category::before{
		width: 40px;

	}
	.hero_category{
		font-size: 14px;
		padding-left: 62px;
	}
	.content__img{
		padding-top: 20px;
	}
	.footer__data__terms {
		padding-top: 0px;
	}
	.footer__data__desc{
		margin-right: 60px;
	}
	.link__reverse{
		margin-bottom: 20px;
	}
	.login a {
		font-weight: 700;
		font-size: 17px;
		text-decoration: none;
		color: #fff;
		transition: color 0.3s ease;
		font-size: 23px;
	
	}
	.content__img__reverse img {
		margin-right: 0px;
	
	}
}
@media (max-width: 500px) {
	.mobile__none{
		display: none;
	}
	.footer__data__desc{
		margin-right: 20px;
	} 

}
@media (max-width: 415px) {
	
	.hero_title {
		font-size: 55px;
	}
	.mobile__none{
		display: none;
	}
	.footer__nav + .footer__nav {
		margin-left: 20px;
	}
	.footer__data__desc {
		font-size: 15px;

	}
	.footer__data__terms {
		font-size: 13px;

	}
	.position{
		position: absolute;
		width: 100px;
		top: -10px;
		left: -10px;

}
.content__title {
	font-size: 36px;
}
.content__text p{
	margin-right: 0;
}

}
